MYSQL_ROOT_PASSWORD=change-root-password
MYSQL_DATABASE=ry-cloud
MYSQL_USERNAME=career_app
MYSQL_PASSWORD=change-business-db-password

REDIS_PASSWORD=change-redis-password
JWT_SECRET=change-jwt-secret-at-least-32-chars

NACOS_AUTH_TOKEN=MDEyMzQ1Njc4OWFiY2RlZjAxMjM0NTY3ODlhYmNkZWY=
NACOS_AUTH_IDENTITY_KEY=change-nacos-identity-key
NACOS_AUTH_IDENTITY_VALUE=change-nacos-identity-value
NACOS_USERNAME=nacos
NACOS_PASSWORD=nacos

DIGITALOCEAN_MODEL_API_KEY=
GLM_MODEL_API_KEY=
EMBEDDING_MODEL_API_KEY=

POSTGRES_DATABASE=ry_vector
POSTGRES_USERNAME=vector_user
POSTGRES_PASSWORD=change-postgres-password

WEB_PORT=18080
